*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a
{
    text-decoration: none;
}

html , body
{
    width: 100%;
    height: 100%;
}

/* ------------------------------------------- */

@font-face {
    font-family: gameFont;
    src: url(../resources/fonts/BlackAndWhitePicture-Regular.ttf);
}


*:focus
{
    outline: none;
    box-shadow: 0 0 1px 7px #a5be00c7 !important;
}

html
{
    overflow: hidden;
}

body
{
    background: #679436;
    color: #EBF2FA;
    font-family: gameFont , sans-serif;
}

header
{
    height: 20%;
    display: flex;
    padding: 16px;
    justify-content: space-between;
}

.header-btn
{
    border: none;
    font-family: 'gameFont' , sans-serif;
    width: 200px;
    height: 80px;
    font-size: 50px;
    border-radius: 9px;
    cursor: pointer;
    background: #A5BE00;
    box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
    user-select: none;
}

.header-btn:hover
{
    filter: brightness(1.1);
}


.header-text
{
    font-family: 'gameFont' , sans-serif;
    width: 200px;
    height: 50px;
    font-size: 30px;
}




/* main */
main
{
    height: 80%;
}



/* section: game display  */

.game-display{
    height: 50%;
}

.game-display-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    position: relative;
}

.game-display-header{
    font-size: 100px;
    position: absolute;
    top: 0;
    color: #A5BE00;
    text-shadow: 0 0 3px black;
    user-select: none;
}

.game-display-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 16%);
    background: #efffd7;
    width: 300px;
    height: 150px;
    z-index: 3;
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 100px;
    border-radius: 9px;
    box-shadow: 0 0 3px black;
    user-select: none;
}

.game-display-decoration{
    height: 6%;
    width: 100%;
    background: #efffd7;
    position: absolute;
    top: 80%;
    z-index: 2;
    box-shadow: 0 0 3px black;
}




/* section: game mechanics  */
/* left-side */

.game-mechanics
{
    height: 50%;
}

.game-mechanics-container
{
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 45px;
}

.game-mechanics-left
{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.game-mechanics-input
{
    border: none;
    background: transparent;
    border: 7px solid #A5BE00;
    border-radius: 25px;
    width: 125px;
    height: 125px;
    font-size: 100px;
    font-family: 'gameFont' , sans-serif;
    overflow: hidden;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 50%);
    text-align: center;
}

.game-mechanics-btn
{
    border: none;
    margin-top: 15px;
    width: 125px;
    height: 50px;
    font-size: 37px;
    border-radius: 9px;
    cursor: pointer;
    background: #A5BE00;
    box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
    font-family: 'gameFont' , sans-serif;
    cursor: pointer;
    user-select: none;
}

.game-mechanics-btn:hover
{
    filter: brightness(1.1);
}




/* removing input["number"] default style (two arrow up and down) */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] 
{
  -moz-appearance: textfield; 
}


.game-mechanics-right
{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
    background: #9ab101;
    border-radius: 9px;
}

.game-mechanics-right p
{
    width: 300px;
    height: 50px;
    background: #8da200;
    border-radius: 9px;
    font-size: 32px;
    color: black;
}

.game-mechanics-right p span , .game-mechanics-hint
{
    color: white !important;
}

.game-mechanics-hint
{
    padding-left: 10px;
    padding-top: 3px;
}








/* responsize max-width: 420px (PIXEL 2 XL)   */
@media screen and (max-width: 420px)
{

    *:focus
    {
    outline: none;
    box-shadow: 0 0 1px 3px #a5be00c7 !important;
    }   


    header
    {
        height: 10%;
    }
    .header-btn
    {
        font-size: 20px;
        width: 100px;
        height: 50px;
    }
    .header-text
    {
        font-size: 17px;
        text-align: end;
        padding-top: 5px;
    }


    main
    {
        height: 90%;
    }
    .game-display
    {
        height: 70%;
    }
    .game-mechanics
    {
        height: 30%;
    }
    .game-display-container
    {
        padding: 20px;
    }
    .game-display-header
    {
        font-size: 50px;
        top: 20%;
    }
    .game-display-text
    {
        font-size: 50px;
        width: 200px;
        height: 95px;
    }
    .game-display-decoration
    {
        height: 2%;
        top: 62%;
    }
    .game-mechanics-container
    {
        padding: 20px;
        align-items: center;
    }
    .game-mechanics-left
    {
        padding: 8px;
    }
    .game-mechanics-input
    {
        width: 90px;
        height: 90px;
        font-size: 40px;
    }
    .game-mechanics-btn
    {
        width: 90px;
        height: 40px;
        font-size: 20px;
    }
    .game-mechanics-right
    {
        gap: 5px;
        padding: 8px;
        justify-content: center;
        height: 80%;
    }
    .game-mechanics-hint
    {
        font-size: 24px;
        width: 185px;
        height: 40px;
    }
    .game-mechanics-score
    {
        font-size: 24px;
        width: 185px;
        height: 40px;
    }
    .game-mechanics-highscore
    {
        font-size: 24px;
        width: 185px;
        height: 40px;
    }
    .game-mechanics-right p {
        width: 190px;
        height: 40px;
        border-radius: 8px;
        font-size: 27px;
    }

}